<launch>
    <!--<include file="$(find uvc_camera)/launch/stereo_node.launch" />-->

    <node name="stereo_image_processing" pkg="stereo_image_proc" type="stereo_image_proc" />


    <node name="converter" pkg="anaglyph" type="anaglyph_converter" output="screen">
        <remap from="left_image_topic" to="/left/image_color" />
        <remap from="right_image_topic" to="/right/image_color" />
    	<param name="publish_topic" value="anaglyph_images"/>
    </node>

    <node name="anaglyph_viewer" pkg="image_view" type="image_view">
        <remap from="image" to="anaglyph_images" /> 
    </node>
</launch>
