<launch>
    <!--<include file="$(find uvc_camera)/launch/stereo_node.launch" />-->

    <node name="stereo_image_processing" pkg="stereo_image_proc" type="stereo_image_proc" />


    <node name="stereogram_converter" pkg="anaglyph" type="stereogram_converter" output="screen">
        <remap from="left_image_topic" to="/BC/left/image_rect_color" />
        <remap from="right_image_topic" to="/BC/right/image_rect_color" />
    	<param name="publish_topic" value="stereogram_images"/>
    </node>

    <node name="stereogram_viewer" pkg="image_view" type="image_view">
        <remap from="image" to="stereogram_images" /> 
    </node>
</launch>
